<form [formGroup]="form">
  <table>
    <caption>
      Таблица уроков
    </caption>
    <tr>
      <th>Номер</th>
      <th>Дата урока</th>
      <th>Тема урока</th>
      <th>Домашнее задание</th>
      <th>Примечание</th>
    </tr>
    <tr
      *ngFor="let item of form.get('list')['controls']; let id = index"
      [formArrayName]="list"
    >
      <td><input type="number" formControlName="num" /></td>
      <td><input type="date" formControlName="date" /></td>
      <td><input type="text" formControlName="theme" /></td>
      <td><input type="text" formControlName="homework" /></td>
      <td><input type="text" formControlName="note" /></td>
    </tr>
  </table>
  <br />
  <button (click)="add()">Добавить строку</button>
</form>

<pre>{{ form.value | json }}</pre>

<br />
<button (click)="saveToStorage()">Save</button>
<br />
<br />
<button (click)="getFromStorage()">Get</button>

<p>{{ data }}</p>
