<form [formGroup]="form">
  <table>
    <caption>
      Таблица уроков
    </caption>
    <tr>
      <th>Номер</th>
      <th>Дата урока</th>
      <th>Тема урока</th>
      <th>Домашнее задание</th>
      <th>Примечание</th>
    </tr>

    <tr *ngFor="let item of lessons.controls" formArrayName="lessons">
      <!-- <td><input type="number" formControlName="id" /></td>
      <td><input type="date" formControlName="date" /></td>
      <td><input type="text" formControlName="theme" /></td>
      <td><input type="text" formControlName="homework" /></td>
      <td><input type="text" formControlName="note" /></td> -->
      <td><input type="number" /></td>
      <td><input type="date" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
    </tr>
  </table>
  <br />
  <button style="margin-right: 10px" (click)="add()">Добавить строку</button
  ><button (click)="delete()">Удалить строку</button>
</form>

<pre>{{ form.value | json }}</pre>
<hr />

<!-- <br />
<button (click)="saveNoteToStorage()">Save note</button>
<br />
<br />
<button (click)="getNoteFromStorage()">Get note</button>
<br />
<p>{{ data }}</p>
<hr /> -->

<!-- <table>
  <caption>
    Тестовая таблица уроков
  </caption>
  <tr>
    <th>Номер</th>
    <th>Дата урока</th>
    <th>Тема урока</th>
    <th>Домашнее задание</th>
    <th>Примечание</th>
  </tr>
  <tr>
    <td><input type="text" [(ngModel)]="id" /></td>
    <td><input type="date" [(ngModel)]="data" /></td>
    <td><input type="text" [(ngModel)]="theme" /></td>
    <td><input type="text" [(ngModel)]="homework" /></td>
    <td><input type="text" [(ngModel)]="note" /></td>
  </tr>
</table> -->
