<form [formGroup]="form">
  <table>
    <caption>
      Таблица уроков
    </caption>
    <p formArrayName="lessons">
      <tr>
        <th>№</th>
        <th>Дата урока</th>
        <th>Тема урока</th>
        <th>Домашнее задание</th>
        <th>Примечание</th>
        <th>Удалить</th>
      </tr>

      <tr
        *ngFor="let item of getLessons.controls; let i = index"
        [formGroupName]="i"
      >
        <td>
          <input
            type="number"
            required
            min="1"
            title="Номер не может быть меньше 1"
            formControlName="id"
          />
        </td>
        <td>
          <input type="date" required formControlName="date" />
        </td>
        <td>
          <input type="text" required formControlName="theme" />
        </td>
        <td>
          <input
            type="text"
            pattern="[A-Za-zА-Яа-я]{1,20}"
            title="Поле должно содержать какой-то текст"
            formControlName="homework"
          />
        </td>
        <td>
          <input
            type="text"
            pattern="[A-Za-zА-Яа-я]{1,20}"
            title="Поле должно содержать какой-то текст"
            formControlName="note"
          />
        </td>
        <td>
          <button (click)="deleteRow(i)">Удалить строку</button>
        </td>
      </tr>
    </p>
  </table>
  <br />
  <button style="margin-right: 10px" (click)="addRow()">Добавить строку</button>
</form>

<pre>{{ form.value | json }}</pre>
<hr />

<!-- <br />
<button (click)="saveNoteToStorage()">Save note</button>
<br />
<br />
<button (click)="getNoteFromStorage()">Get note</button>
<br />
<p>{{ data }}</p>
<hr /> -->

<!-- <table>
  <caption>
    Тестовая таблица уроков
  </caption>
  <tr>
    <th>Номер</th>
    <th>Дата урока</th>
    <th>Тема урока</th>
    <th>Домашнее задание</th>
    <th>Примечание</th>
  </tr>
  <tr>
    <td><input type="text" [(ngModel)]="id" /></td>
    <td><input type="date" [(ngModel)]="data" /></td>
    <td><input type="text" [(ngModel)]="theme" /></td>
    <td><input type="text" [(ngModel)]="homework" /></td>
    <td><input type="text" [(ngModel)]="note" /></td>
  </tr>
</table> -->

<!-- <table>
  <tr *ngFor="let post of mod1.lessonTable">
    <td><input type="text" value="{{ post.id | json }}" /></td>
  </tr>
</table> -->

<!-- <form [formGroup]="form" novalidate>
  <div formArrayName="lessons">
    <div *ngFor="let lessone of lessons.controls; let i = index">
      <div [formGroupName]="i">
        <input type="number" formControlName="id" />
        <br />
        <input type="date" formControlName="date" />
        <br />
        <input type="text" formControlName="theme" />
        <br />
        <input type="text" formControlName="homework" />
        <br />
        <input type="text" formControlName="note" />
      </div>
    </div>
  </div>
  <br />
  <button style="margin-right: 10px" (click)="addRow()">Добавить строку</button
  ><button (click)="deleteRow()">Удалить строку</button>
</form> -->

<!-- !рабочая таблица -->
<!-- <table>
  <caption>
    Таблица уроков
  </caption>
  <div
    *ngFor="let item of getLessons.controls; let i = index"
    formArrayName="lessons"
  >
    <tr>
      <th>№</th>
      <th>Дата урока</th>
      <th>Тема урока</th>
      <th>Домашнее задание</th>
      <th>Примечание</th>
      <th>Удалить</th>
    </tr>
    <tr [formGroupName]="i">
      <td>
        <input type="number" formControlName="id" />
      </td>
      <td>
        <input type="date" formControlName="date" />
      </td>
      <td>
        <input type="text" formControlName="theme" />
      </td>
      <td>
        <input type="text" formControlName="homework" />
      </td>
      <td>
        <input type="text" formControlName="note" />
      </td>
      <td>
        <button (click)="deleteRow(i)">Удалить строку</button>
      </td>
    </tr>
  </div>
</table> -->
