table {
  border: 1px solid grey;
  border-collapse: collapse;
}
/* границы ячеек первого ряда таблицы */
th {
  border: 1px solid grey;
}
/* границы ячеек тела таблицы */
td {
  border: 1px solid grey;
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}
input.ng-touched.ng-valid {
  border: solid green 2px;
}
